@CHARSET "ISO-8859-1";

/* --- FONTS --- */
@font-face { 
    font-family: 'OpenSans-Regular';
    src: url('../fonts/theme/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face { 
    font-family: 'OpenSans-Bold';
    src: url('../fonts/theme/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face { 
    font-family: 'OpenSans-Light';
    src: url('../fonts/theme/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face { 
    font-family: 'OpenSans-Semibold';
    src: url('../fonts/theme/OpenSans-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-semi-bold {
	font-family: 'OpenSans-Semibold' !important;
}

.font-bold {
	font-family: 'OpenSans-Bold' !important;
}

.font-light {
	font-family: 'OpenSans-Light' !important;
}


/* --- GLOBAL COLORS --- */

/* Background Colors */ 

.primary-bg-color {
	background-color: #20b540 !important;
}
.primary-bg-color.state:hover,
.primary-bg-color.state:active,
.primary-bg-color.state:focus {

}
.secondary-bg-color {
	background-color: #3c3c3c !important;
	color: #ffffff !important;
}
.secondary-bg-color.state:hover,
.secondary-bg-color.state:active,
.secondary-bg-color.state:focus {
}
.tertiary-bg-color {
	background-color: #292929 !important;
	color: #ffffff !important;
}
.tertiary-bg-color.state:hover,
.tertiary-bg-color.state:active,
.tertiary-bg-color.state:focus {
}
.quaternary-bg-color {
	background-color: #4a4a4a !important;
}
.muted-bg-color {
	background-color: #f3f3f3;
}

/* Font Colors */ 
.text-primary {
	color: #20b540 !important;
}
.text-secondary {
	color: #3c3c3c !important;
}
.text-tertiary {
	color: #292929 !important;
}
.text-quarternary {
	color: #42b45b !important;
}
.text-highlight {
	color: #2e74b9 !important;
}

.text-success {}
.text-warning {}
.text-info {}
.text-muted {
  color: #808080;
}

/* --- BASE STYLES and BOOTSTRAP OVERRIDES --- */

body { 
  /*For overall default styling*/
  font-size: 12px;
  font-family: 'OpenSans-Regular';
  background-color: #ffffff;
  
  /*letter-spacing: 2px;*/
  /*line-height: 1;*/
}

/* Base Headers Style */
h1, h2, h3, h4, h5, h6 {
  font-family: 'OpenSans-Regular';
  /*letter-spacing: 0.5em;*/
}
h1 {
  font-size: 1.7em;
  margin-bottom: 25px;
  /*line-height: 1;*/
}
h2 {
  font-size: 1.5em;
  /*line-height: 1;*/
}
h3 {
  font-size: 1.3em;
  /*line-height: 1;*/
}
h4 {
  font-size: 1.2em;
  /*line-height: 1;*/
}
h5 {
  font-size: .8em;
  /*line-height: 1;*/
}
h6 {
  font-size: 1em;
  /*line-height: 1;*/
}

a, a:hover {
  text-decoration: none;
  color: #333333;
}

/* Buttons Style Guide */
/* Bootstrap Buttons Style Override */
.btn {
	padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 1px;
    font-size:12px;
    border-width:2px;
    font-weight:bold;
}
.btn.focus, .btn:focus, .btn:hover {}
.btn-default {}
.btn-primary {
	background-color: #60c977;
	border-color: #60c977;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
	background-color: #60c977;
	border-color: #60c977;
}
.btn-success {}
.btn-success:hover {}
.btn-info {}
.btn-info:hover {}
.btn-warning {}
.btn-warning:hover {}
.btn-danger {}
.btn-danger:hover {}
.btn-group-lg>.btn, .btn-lg {}
.btn-group-sm>.btn, .btn-sm {}
.btn-group-xs>.btn, .btn-xs {}

/* Bootstrap Close Buttons Style Override */
.close {}
.close:focus, .close:hover {}

/* Custom Buttons Style Guide */
.btn-secondary {
	background-color: #4f5d6b!important;
	border-color: #4f5d6b!important;
	color:#fff !important;
}
.btn-secondary:hover {
	background-color: #4f5d6b!important;
	border-color: #4f5d6b!important;
	color:#fff !important;
}

.btn-tertiary {
	background-color: #fff!important;
	border-color: #4f5d6b!important;
	color:#4f5d6b !important;	
}
.btn-tertiary:hover {
	background-color: #fff!important;
	border-color: #4f5d6b!important;
	color:#4f5d6b !important;
}

.btn-quarternary {
	background-color: #FF9600;
	border-color: #FF9600;
	color:white;
}
.btn-quarternary:hover,
.btn-quarternary:active,
.btn-pbtn-quarternaryrimary:focus {
	background-color: #FF9600;
	border-color: #FF9600;
	color:white;
}



/* Forms Style Guide */
/* Base Forms Style */
label {}
/* Forms Bootstrap Overrides */
.form-control {
    border: 1px solid #ededed !important;
    border-radius: 1px;
    padding: 10px 15px;		
    height: 55px;
    font-family: 'OpenSans-Regular';
}
.form-control:focus {}
	
.has-success .form-control {}
.has-warning .form-control {}
.has-error .form-control {}

.input-group-addon {}

.checkbox label, .radio label {}

.has-success .checkbox,
.has-success .checkbox-inline, 
.has-success .control-label, 
.has-success .help-block,
.has-success .radio, 
.has-success .radio-inline, 
.has-success.checkbox label, 
.has-success.checkbox-inline label, 
.has-success.radio label, 
.has-success.radio-inline label {
	
}

.help-block {}

/* Table Style Guide */
/* Table Bootstrap Overrides */
.table-hover>tbody>tr:hover {}
.table-striped>tbody>tr:nth-of-type(odd) {}

/* Contextual Background Style */

.bg-primary {}
.bg-success {}
.bg-info {}
.bg-warning {}
.bg-danger {}

.bg-secondary {}
.bg-tertiary {}

/* Bootstrap Panels Overrides */
.panel {
    margin-bottom: 30px;
    border: 1px solid #ededed;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-default {
	background-color: #fff;
}
.panel-default>.panel-heading {
    background-color: #c2c2c2;
    border-color: #ededed;
}
.panel-primary {}
/* Custom Panel Styles */
.panel-secondary {
  background-color: #d70c76;
  border-color: #ededed;
}
.panel-tertiary {}
.panel-footer {
    background-color: #ffffff;
	border-top: 1px solid #ededed;
	border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: right;
}

/* Modal Content */
.modal-content {}

/* Custom CSS Helpers */
/* 
 * Helper Classes are high priority. 
 * Therefore requires !important.
 */
 
.no-padding {padding: 0px !important;}
.no-padding-left {padding-left: 0px !important;}
.no-padding-right {padding-right: 0px !important;}
.no-padding-top {padding-top: 0px !important;}
.no-padding-bottom {padding-bottom: 0px !important;}

.no-margin {margin: 0px 0px 0px 0px !important;}
.no-margin-left {margin-left: 0px !important;}
.no-margin-right {margin-right: 0px !important;}
.no-margin-top {margin-top: 0px !important;}
.no-margin-bottom {margin-bottom: 0px !important;}

.no-float {clear: both !important;}

.breadcrumb {
    background-color: #fff !important;
}

/* Nav Overrides */

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom:0px !important;
    border: 1px solid #3c3c3c;
    border-bottom:0px !important;
    border-right: 0px !important;
    border-left:0px !important;
}

.navbar-inverse {
	background-color:transparent;
}


.navbar-brand {
	padding: 0px 0px;
	height: 0px;
}

.navbar-header, .navbar-right {
    border-color: #3c3c3c;
    padding-top: 0px;
    padding-bottom: 15px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 30px 15px;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #4a4a4a;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

/* Progress Bar */
.progress-bar {
    background-color: #fff;
}

/* GlyphIcons */
.glyphicon {
	width: 25px;
    text-align: left;
}

/* Read More */
.read-more {
  font-family: 'OpenSans-Regular';
}

/* Dividers */
.h-divider-primary {
  height: 50px;
  border-bottom-color: #aaffbc;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

@media (min-width: 768px) {
	.navbar-header {
		
	}
}

/*Drupal LMS Style Guide*/

.buy-now-container .form-submit,
#user-profile-form .form-submit,
.mailchimp-signup-subscribe-form .form-submit,
#edit-commerce-coupon-coupon-add,
#commerce-checkout-form-checkout .form-submit
 {
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: #60c977;
    color: white;
    border-color: #60c977;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 1px;
}

.jumbotron h1 {
	font-size:50px !important;
}

.btn-primary a {
	color: #fff;
}

.btn-secondary a {
	color: #fff;
}
.btn-tertiary a {
	color: #4f5d6b;
}

li a {
	font-family:'OpenSans-Regular' !important;
}

.region-content {
	background-color:white!important;
}

